{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    * {
        font-family: Arial;
        text-align: center;
        vertical-align: middle;
    }
    h1, h2 {
        color: black;
    }
    th, td {
        font-size: 120%;
        padding: 12px 15px
    }
    table{
        border-collapse: collapse;
        margin: 30px auto;
        font-size: 0.9em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
    }

    table:hover {
        box-shadow: 
            0 0 20px rgba(0, 0, 255, 0.5), 
            0 0 40px rgba(0, 0, 128, 0.5),
            0 0 60px rgba(0, 255, 255, 0.5);
        transition: 0.5s;
    }

    .padding {
        padding-top: 30px;
    }
    .button {
        border: none;
        color: white;
        font-weight: bold;
        background-color: #0000FF;
        text-decoration: none;
        padding: 5px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 10px 15px 0 rgba(0,0,0,0.19);
    }
    
    

</style>
<div class="padding">
    <div class = "login">

        <h1 style="font-weight: bold;">Login</h1>

        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                        
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input class="button login_btn" type="submit" value="Login"></td>
                </tr>
            </table>
        </form>

        {% if messages %}
            <td>
                {% for message in messages %}
                    <td>{{ message }}</td>
                {% endfor %}
            </td>
        {% endif %}     
            
        <br><br>
        Don't have an account?  <a href="{% url 'money_tracker:register' %}">Register now!</a>

    </div>
</div>

{% endblock content %}

