{% extends 'base.html' %}

{% block content %}
<h5>Nama: </h5>
<b>{{name}}</b>

<table>

    <tr>
        <th>Nama</th>
        <th>Jenis</th>
        <th>Jumlah</th>
        <th>Tanggal</th>
        <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for transaction in list_of_transactions %}
        <tr>
            <td>{{transaction.name}}</td>
            <td>{{transaction.type}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.date}}</td>
            <td>{{transaction.description}}</td>
        </tr>
    {% endfor %}

</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<br>

<a href="{% url 'money_tracker:create_transaction' %}">
    <button>
        Transaksi Baru
    </button>
</a>

<a href="{% url 'money_tracker:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}
